* {
  --yellow-color: #f1d754;
  --blue-color: #b0d3d2;
  --dark-blue: #34435a;
  --black: #000;
  --gray: #cecece;
  --white: #fff;
}
@font-face {
  font-family: "Myfont";
  src: local("MyFont"), url("/src/Fonts/Bangers-Regular.ttf") format("truetype");
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
